

*{
	font-family: serif;
	color: black;
	font-weight: bold;
}


html, body{
	height: 100%; /*importante*/
	margin: 0px; padding: 0px; /*importante*/
	overflow: hidden;
	color: white;
}


/* Parte superior */
/* -------------- */



	/* Parte superior */
	/* -------------- */

	header{
		font-size: 105%;
		width: 100%;
		height: 20%;
		position: fixed; z-index: 10;
		background-color: transparent;
	}

	/* Listados */
	header ul li{
			list-style-type: none;
		}



	/* Panel de control */
	div.izquierda_top{
		border: 5px solid black;
		background-color: rgba(255,255,255,0.5);
		position: absolute; top: 2%; left: 2%;
		width: 50vh;
	}
	div.izquierda_top ul{
		margin: 0px; padding: 0px;
	}
	div.izquierda_top ul li{
		display: inline-block;
		padding: 0.5%;
		text-align: center;
	}
	div.izquierda_top ul li:first-child{
		width: 40%;
	}
	div.izquierda_top ul li:nth-child(2){
		width: 27%;
	}
	div.izquierda_top ul li:last-child{
		width: 27%;
	}
	/* Barra de fuel*/
	div.izquierda_top .fuel1{
		display: inline-block;
		width: 55%; height: 15px;
		background-color: white;
		border: 3px solid black;
	}
	div.izquierda_top .fuel2{
		width: 75%; height: 100%;
		background-color: red;
	}


	/* Botón pausa */
	div.derecha_top{
		position: absolute; top: 2%; right: 2%;
	}
	#pausa{
		display: block;
		padding: 10px;
		border: 5px solid black;
		border-radius: 200px;
		background-color: rgba(255,255,255,0.5);
	}
	/* Opciones del juego. Menú desplegable */
	header ul li ul{
		display: none;
	}
	header ul li:hover ul{
		display: block;
		border: 5px solid black;
		background-color: white;
		position: fixed; right: 5vw; top: 10vh;
		height: 25vh;
		width: auto;
		margin: 0px; padding: 0px;
	}
	header ul li:hover ul li{
		text-align: left;
		width: auto; height: auto;
		margin: 15%;
		padding: 1%;
	}


/* Parte central */
/* ------------- */
	main{
		width: 100%;
		height: 95%;
		background-image: url("../img/fondo4.png");
		background-size: 300px 300px;
		}

	/* Nave */
	main div{
		text-align: left;
	}
	main div img {
		height: 7%;
		position: fixed; top: 10%; left: 40%; z-index: 1;
	}

	/* Plataforma de alunizaje */
	div.plataforma{
		height: 5%;
		width: 30%;
		border: 5px groove DimGray;
		background-color: DimGray;
		position: fixed; left: 37%; bottom: 2%;
	}


/* Parte inferior */
/* -------------- */
	footer{
		width: 100%;
		height: 5%;
		padding: 0px; margin: 0px;
		background-color: #0d3250;
		background-size: cover;
		background-image: url("../img/Imagenes-Sonda-Change-3_2.png");
		background-repeat: no-repeat;
		position: relative; z-index: -1;
	}
